################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleDeLicitacao.sln
﻿################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleDeLicitacao.sln
/.vs/ControleDeLicitacao/FileContentIndex
/.vs/ControleDeLicitacao/v17/DocumentLayout.json
/.vs/ControleDeLicitacao/v17/.suo
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.API.dll
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.API.exe
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.API.pdb
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.App.dll
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.App.pdb
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.Common.dll
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.Common.pdb
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.Domain.pdb
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.Infrastructure.dll
/ControleDeLicitacao.API/bin/Debug/net6.0/ControleDeLicitacao.Infrastructure.pdb
/ControleDeLicitacao.API/obj/Debug/net6.0/ref/ControleDeLicitacao.API.dll
/ControleDeLicitacao.API/obj/Debug/net6.0/refint/ControleDeLicitacao.API.dll
/ControleDeLicitacao.API/obj/ControleDeLicitacao.API.csproj.nuget.dgspec.json
/ControleDeLicitacao.API/obj/ControleDeLicitacao.API.csproj.nuget.g.props
/ControleDeLicitacao.API/obj/Debug/net6.0/apphost.exe
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.AssemblyInfo.cs
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.AssemblyInfoInputs.cache
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.assets.cache
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.csproj.AssemblyReference.cache
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.csproj.CoreCompileInputs.cache
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.csproj.FileListAbsolute.txt
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.dll
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.GeneratedMSBuildEditorConfig.editorconfig
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.genruntimeconfig.cache
/ControleDeLicitacao.API/obj/Debug/net6.0/ControleDeLicitacao.API.pdb
/ControleDeLicitacao.API/obj/project.assets.json
/ControleDeLicitacao.API/obj/project.nuget.cache
/ControleDeLicitacao.API/obj/staticwebassets.pack.sentinel
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.App.dll
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.App.pdb
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.Common.dll
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.Common.pdb
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.Domain.pdb
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.Infrastructure.dll
/ControleDeLicitacao.App/bin/Debug/net6.0/ControleDeLicitacao.Infrastructure.pdb
/ControleDeLicitacao.App/obj/Debug/net6.0/ref/ControleDeLicitacao.App.dll
/ControleDeLicitacao.App/obj/ControleDeLicitacao.App.csproj.nuget.dgspec.json
/ControleDeLicitacao.App/obj/ControleDeLicitacao.App.csproj.nuget.g.props
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.AssemblyInfo.cs
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.AssemblyInfoInputs.cache
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.assets.cache
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.csproj.AssemblyReference.cache
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.csproj.CoreCompileInputs.cache
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.csproj.FileListAbsolute.txt
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.dll
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.GeneratedMSBuildEditorConfig.editorconfig
/ControleDeLicitacao.App/obj/Debug/net6.0/ControleDeLicitacao.App.pdb
/ControleDeLicitacao.App/obj/Debug/net6.0/refint/ControleDeLicitacao.App.dll
/ControleDeLicitacao.App/obj/project.assets.json
/ControleDeLicitacao.App/obj/project.nuget.cache
/ControleDeLicitacao.Common/bin/Debug/net6.0/ControleDeLicitacao.Common.dll
/ControleDeLicitacao.Common/bin/Debug/net6.0/ControleDeLicitacao.Common.pdb
/ControleDeLicitacao.Common/obj/Debug/net6.0/ref/ControleDeLicitacao.Common.dll
/ControleDeLicitacao.Common/obj/ControleDeLicitacao.Common.csproj.nuget.dgspec.json
/ControleDeLicitacao.Common/obj/ControleDeLicitacao.Common.csproj.nuget.g.props
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.AssemblyInfo.cs
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.AssemblyInfoInputs.cache
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.assets.cache
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.csproj.CoreCompileInputs.cache
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.csproj.FileListAbsolute.txt
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.dll
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.GeneratedMSBuildEditorConfig.editorconfig
/ControleDeLicitacao.Common/obj/Debug/net6.0/ControleDeLicitacao.Common.pdb
/ControleDeLicitacao.Common/obj/Debug/net6.0/refint/ControleDeLicitacao.Common.dll
/ControleDeLicitacao.Common/obj/project.assets.json
/ControleDeLicitacao.Common/obj/project.nuget.cache
/ControleDeLicitacao.Domain/bin/Debug/net6.0/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.Domain/bin/Debug/net6.0/ControleDeLicitacao.Domain.pdb
/.vs/ProjectEvaluation/controledelicitacao.metadata.v8.bin
/.vs/ProjectEvaluation/controledelicitacao.projects.v8.bin
/.vs/ProjectEvaluation/controledelicitacao.strings.v8.bin
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ref/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.Domain/obj/ControleDeLicitacao.Domain.csproj.nuget.dgspec.json
/ControleDeLicitacao.Domain/obj/ControleDeLicitacao.Domain.csproj.nuget.g.props
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.AssemblyInfo.cs
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.AssemblyInfoInputs.cache
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.assets.cache
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.csproj.AssemblyReference.cache
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.csproj.CoreCompileInputs.cache
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.csproj.FileListAbsolute.txt
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.GeneratedMSBuildEditorConfig.editorconfig
/ControleDeLicitacao.Domain/obj/Debug/net6.0/ControleDeLicitacao.Domain.pdb
/ControleDeLicitacao.Domain/obj/Debug/net6.0/refint/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.Domain/obj/project.assets.json
/ControleDeLicitacao.Domain/obj/project.nuget.cache
/ControleDeLicitacao.Infrastructure/bin/Debug/net6.0/ControleDeLicitacao.Domain.dll
/ControleDeLicitacao.Infrastructure/bin/Debug/net6.0/ControleDeLicitacao.Domain.pdb
/ControleDeLicitacao.Infrastructure/bin/Debug/net6.0/ControleDeLicitacao.Infrastructure.dll
/ControleDeLicitacao.Infrastructure/bin/Debug/net6.0/ControleDeLicitacao.Infrastructure.pdb
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ref/ControleDeLicitacao.Infrastructure.dll
/ControleDeLicitacao.Infrastructure/obj/ControleDeLicitacao.Infrastructure.csproj.nuget.dgspec.json
/ControleDeLicitacao.Infrastructure/obj/ControleDeLicitacao.Infrastructure.csproj.nuget.g.props
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.AssemblyInfo.cs
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.AssemblyInfoInputs.cache
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.assets.cache
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.csproj.AssemblyReference.cache
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.csproj.CoreCompileInputs.cache
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.csproj.FileListAbsolute.txt
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.dll
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.genruntimeconfig.cache
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/ControleDeLicitacao.Infrastructure.pdb
/ControleDeLicitacao.Infrastructure/obj/Debug/net6.0/refint/ControleDeLicitacao.Infrastructure.dll
/ControleDeLicitacao.Infrastructure/obj/project.assets.json
/ControleDeLicitacao.Infrastructure/obj/project.nuget.cache
